body{
   

    text-align: center;
   color: cyan;
    font-weight: 1000;
    opacity: 1;
}
h1{
    font-weight: 750;
}
h2{
    font-weight: 700;
}
.shamika{
    background-image: url(/images/newbg.jpeg);
    background-size: cover ;
    opacity: 0.85;
    color: rgb(42, 140, 140);
}
